[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ThirdParty/ImGuizmo"]
	path = ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
